body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);

}

header {
  background-color: rgba(0, 0, 0, 0.767);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;

}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* Estilos para el contenedor del logo y el nombre de la liga */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 50px;
  margin-right: 20px;
}


.liga-name {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.5em;
}


.equipo-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color : white;
  font: 1.5em;
  font-weight: regular;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.346);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.416);
  margin-top: 50px;
  margin-bottom: 50px;
}


.escudo {
  flex: 1;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  /* Transición suave para el efecto */
}

.escudo img {
  max-width: 500px;
  max-height: 500px;
}

/* Efecto al pasar el cursor sobre el escudo */
.escudo:hover {
  transform: scale(1.1);
  /* Aumenta el tamaño al 110% */
}

.descripcion {
  flex: 2;
  padding-left: 50px;
}

.descripcion h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.descripcion p {
  font-size: 1.2em;
}

footer {
  text-align: center;
  color: white;
  padding: 5px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  font-weight: bold;
}

/* Estilos para el logo en el footer */
.footer-logo {
  max-height: 70px;
  /* Ajusta el tamaño del logo en el footer */
  vertical-align: middle;
  /* Alinea verticalmente con el texto */
  margin-left: 5px;
  /* Ajusta el espacio entre el texto y el logo */
}